<html>
<head>
<title>Link your bank</title>


<!------ Include the above in your HEAD tag ---------->
</head>
<%- include('partials/linkbankstyle') %>
<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2 d-none d-md-inline-block" href="/myaccount">HOME</a>
          <a class="py-2 d-none d-md-inline-block" href="/linkcard">Link card</a>
          <a class="py-2 d-none d-md-inline-block" href="/linkbank">Link Bank</a>
          <a class="py-2 d-none d-md-inline-block" href="/chat">Chat</a>
          <a class="py-2 d-none d-md-inline-block" href="/" onclick="myfunction()">SUPPORT</a>
          <a class="py-2 d-none d-md-inline-block" href="/">LOGOUT</a>
          
        </div>
      </nav>
       <div class="linkbank">
        <h1><center>Link your bank account</center></h1>
       </div>

       <form class="bank-details">
        <center><i class="fas fa-university fa-5x"></i></center>
        <h3 class="yourdetails">Enter Bank details.</h3>
        <label for="bname">Bank name:</label><br>
        <input  type="text" id="banme" class="form-control"><br>
        <label for="ifsc">IFSC code:</label>
        <input type="text" class="form-control"><br>
         <button class="btn btn-lg btn-primary btn-block" type="submit">Link</button>
      </form>
      <p>Make sure that all the informations are correct.</p>
      
      <script>
        function myfunction(){
            window.open('mailto:nitingarg2081999@gmail.com');
        }
      </script>
      
  
</body>