<html>
<head>
<title>My account</title>
<!------ Include the above in your HEAD tag ---------->
</head>
<%- include('partials/accountstyle') %>
<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2 d-none d-md-inline-block" href="/myaccount">HOME</a>
          <a class="py-2 d-none d-md-inline-block" href="/linkcard">Link card</a>
	        <a class="py-2 d-none d-md-inline-block" href="/linkbank">Link Bank</a>
          <a class="py-2 d-none d-md-inline-block" href="/chat">Chat</a>
          <a class="py-2 d-none d-md-inline-block" href="" onclick="myfunction()">SUPPORT</a>
          <a class="py-2 d-none d-md-inline-block" href="/signout">LOGOUT</a>
          
        </div>
      </nav>
   
      <div class="main jumbotron">
        <div class="container">
          <h1 class="display-3 hello">Welcome to your account.</h1>
        </div>
      </div>

      <!-- <div class="middle">
          <h1 class="display-4 msg">Pay with us at leading Indian Brands.</h1>
          <div class="row">
              <div class="col-lg-4">
                <img class="swiggy" src="https://www.oneindia.com/img/1200x80/2017/07/swiggy-19-1500443913.jpg" alt="swiggy">
                <p class="text"><a href="https://www.swiggy.com" target="blank_">Order Food at home</a></p>
              </div>
              <div class="col-lg-4">
                <img class="swiggy" src="https://officechai.com/wp-content/uploads/2015/09/zomato-logo.jpg" alt="zamoto">  
                <p class="text"><a href="https://www.zomato.com" target="blank_">Order online with Zamato</a></p>
              </div>
              <div class="col-lg-4">
                <img class="bigbasket" src="https://assets.entrepreneur.com/content/3x2/2000/20160302090451-Great-Grocery-Deals-at-BigBasket-with-Pennyful.jpeg" alt="bigbasket">
                <p class="text"><a href="https://www.bigbasket.com" target="blank_">Supermarket at your doorstep</a></p>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <img class="swiggy" src="https://p.kindpng.com/picc/s/45-458184_transparent-tata-logo-png-tata-sky-logo-hd.png" alt="swiggy">
              <p class="text"><a href="https://www.tatasky.com" target="blank_">Recharge online.</a></p>
            </div>
            <div class="col-lg-4">
              <img class="swiggy" src="https://etimg.etb2bimg.com/photo/71332664.cms" alt="swiggy">  
              <p class="text"><a href="https://www.fbbonline.in" target="blank_">Buy clothes online</a></p>
            </div>
            <div class="col-lg-4">
              <img class="bigbasket" src="https://gadgetstouse.com/wp-content/uploads/2020/04/JioMart-2.png" alt="bigbasket">
              <p class="text"><a href="https://www.jiomart.com" target="blank_">Grocery online on jiomart</a></p>
            </div>
        </div>
     </div> -->

     <div class="bottom-container">
        <i class="fab social-icon fa-facebook-f fa-2x"></i>
        <i class="fab social-icon fa-twitter fa-2x"></i>
        <i class="fab social-icon fa-instagram fa-2x"></i>
        <p>© Copyright 2020 E-MALL</p>
      </div>
    <script>
        function myfunction(){
            window.open('mailto:ranusinha3698@gmail.com');
        }
    </script>
     
  
</body>

</html>
